<div class="fd__chat-input" [ngClass]="{ 'chat-input--with-options': options, 'chat-input--fixed': fixed }">
  <div class="chat-input__options" *ngIf="options">
    <button class="options__button" ion-fab>
      <ion-icon name="norbert-plus"></ion-icon>
    </button>
  </div>
  <div class="chat-input__form">
    <div class="form__input">
      <textarea #input class="textarea__element" [placeholder]="placeholder ? placeholder : ''" [rows]="rowControl" (keyup)="handleKeyEvent($event)" (keydown.backspace)="clear($event)"></textarea>
      <fd-button *ngIf="showButton" class="textarea__button" [label]="buttonLabel ? buttonLabel : ''" [style]="'clear'" (onClick)="send()"></fd-button>
    </div>
  </div>
</div>