.ios,
.md{
    fd-input {
        width: 100%;

        .fd__input{
            position: relative;
        }

        .item-input-has-focus,
        .item-input-has-value{
            .label-ios[floating],
            .label-md[floating]{
                color: color($colors, secondary);
                margin-left: 0;
                margin-bottom: 8px;
            }
        }

        .icon-inside-input{
            color: color($colors, text);
            left: 16px;
            margin-top: -8px;
            top: 50%;
            position: absolute;
            z-index: 1;
        }
        
        ion-label{
            color: color($colors, secondary);
            
            &.label-ios,
            &.label-md{
                &[stacked]{
                    margin-bottom: 5px;
                }

                &[floating]{
                    color: color($colors, fd-grey);
                    margin-left: 8px;
                }
            }

            ion-icon{
                font-size: map-get($fontSizes, sm);
                margin-right: 8px;
                vertical-align: middle;
            }
        }

        ion-input{
            background-color: lighten(color($colors, greyDark), 65%);
            border: 1px solid transparent;
            border-radius: 4px;
            box-sizing: border-box;
            color: color($colors, text);
            font-size: map-get($fontSizes, sm);
            font-weight: 300;
            padding-left: 7px;

            .text-input{
                margin-bottom: 10px;
                margin-top: 10px;
            }

            &.input--invalid{
                border-color: color($colors, danger);

                &:hover{
                    border-color: darken(color($colors, danger), 15%);
                }
            }

            &.input--placeholder{
                margin-bottom: 8px;
                margin-top: 8px;
            }

            &.input--placeholder-with-icon{
                padding-left: 40px;
            }
        }

        .form__error{
            animation: 1s alertAnim forwards;
            margin-top: 16px;

            .error__message{
                color: color($colors, danger);
                font-size: map-get($fontSizes, xs);
                font-weight: 300;
            }
        }
    }

}
