validate-button {
    .submit {
        position: absolute;
        left: $appMarginH;
        right: $appMarginH;
        bottom: 0;
        padding-bottom: $appMarginH;
        z-index: 2;
        transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        transition: all 250ms ease-in-out;
        -webkit-transition: all 250ms ease-in-out;

        button {
            margin: 0;
        }

        &.show {
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
        }

        &.relative { // Force relative positioning, default being 'absolute'
            position: relative;
            left: 0;
            right: 0;
            padding-bottom: 16px;
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}
