fd-card {
    $fd-card-height: 96px;
    $fd-card-padding: 8px;

    .fd__card{
        background-color: color($colors, clean);
        border: 1px solid color($colors, fd-grey10);
        border-radius: 6px;
        margin-bottom: 16px;
        position: relative;
        transition: background-color .3s;
        @include app-box-shadow();

        &:hover{
            background-color: lighten(color($colors, fd-grey10), 35%);
        }

        .card__chevron{
            font-size: map-get($fontSizes, md);
            position: absolute;
            right: $fd-card-padding;
            top: 50%;
            transform: translateY(-50%);
        }

        .card__container{
            padding: $fd-card-padding;
            position: relative;
        }

        .card__content,
        .card__footer{
            width: 100%;
        }

        .card__footer{
            box-sizing: border-box;
            padding: 16px;

            .fd__button{
                margin: 0;
            }
        }

        &.card--with-image{
            .card__container{
                &:after{
                    clear: both;
                    content: "";
                    display: table;
                }

                .card__image,
                .card__content{
                    float: left;
                }
                
                .card__image{
                    background-color: color($colors, fd-grey05);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 8px 0 0 8px;                    
                    display: block;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;                    
                    width: 32.89%;
                }
    
                .card__content{
                    box-sizing: border-box;
                    padding-left: 36%;
                    padding-right: 24px;
                    width: 100%;
                }
            }

            &.card--with-top-image{
                .card__container{
                    padding-left: 0;
                    padding-right: 0;
                    padding-top: 0;
                }

                .card__image{
                    border-radius: 6px 6px 0 0;
                    margin-bottom: $fd-card-padding * 2;
                    position: relative;
                    width: 100%;
                }

                .card__content{
                    padding-left: $fd-card-padding * 2;
                    padding-right: $fd-card-padding * 2;
                }
            }

            &.card--with-button{
                .card__container{
                    .card__image{
                        .image{
                            border-bottom-left-radius: 0;
                        }
                    }
                }
            }

            &.card--with-chevron{
                .card__container{
                    padding: 8px 40px 8px 16px;
                }
            }            
        }
    }
}