.ios, .md {
base-modal-back {
    background-color: color($colors, clean);

    .content {
        opacity: 0;
        animation: showContent 200ms ease-in-out 250ms forwards;
        -webkit-animation: showContent 200ms ease-in-out 250ms forwards;

        @keyframes showContent {
            to {
                opacity: 1;
            }
        }

        .center-wrapper {
            width: 100%;
            height: 100% !important;

            .center-contents {
                height: 100% !important;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }
    }
}

}
