// Form elements
// --------------------------------------------------
// - Inputs

.fd__form{
    ion-item{
        background-color: color($colors, clean);
        margin-bottom: 10px;
        padding-left: 0;

        &.item-ios,
        &.item-md{
            &.item-block{
                .item-inner{
                    border-bottom: none;
                    padding-right: 0;
                }
            }

            &.item-label-stacked{
                .text-input{
                    font-size: map-get($fontSizes, sm);
                }
            }
        }

        ion-label,
        ion-label.label[stacked],
        ion-input{
            font-size: map-get($fontSizes, xs);
        }

        ion-label{
            font-weight: 300;
        }

        &.item-input-disabled{
            ion-input{
                background-color: color($colors, clean);
                border: none;
                padding-left: 0;

                .text-input[disabled]{
                    opacity: 1;
                }
            }
        }
    }
}

// Content
// --------------------------------------------------
// - Titles

.fd__title,
.fd__title ion-label{
    color: color($colors, text);
    font-size: map-get($fontSizes, lg);
    font-weight: 600;
    text-align: left;
}

// --------------------------------------------------
// - Sticky

.fd__sticky{
    border: none;
    color: color($colors, text);
    font-size: map-get($fontSizes, smd);
    font-weight: 600;
    min-height: 3rem;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    position: sticky;
    top: 0;
    @include app-alpha-attribute("background-color", color($colors, fd-grey05), color($colors, clean));
}