// Shared Variables
// --------------------------------------------------

$appMarginH: 20px;
$animationDuration : 1.1s;
$profileAvatarSize: 70px;
$profileItemSize: 50px;
$navbarHeight: 60px;

$fontSizes: (
  xxs: 1.2rem, //12pt
  xs: 1.4rem, //14pt
  sm: 1.6rem, //16pt
  smd: 1.8rem, // 18pt
  md: 2.1rem, //21pt
  lg: 2.8rem, //28pt
  xl: 3.7rem, //37pt
  xxl: 4.9rem //49pt
);

// Named Color Variables
// --------------------------------------------------

$sharedColors: (
    primary: #FF5A5A,
    secondary: #005B70,
    secondaryLight: #008489,
    beigeN: #F4E9DA,
    danger: #dc143c,
    light: #f0f0f0,
    dark: #1F1C23,
    darkLight: #26242F,
    greyDark: rgba(72, 72, 72, 0.6),
    border: rgba(72, 72, 72, 0.3),
    greyLight: #999999,
    clean: white,
    warning: #FFB000,
    text: rgba(72, 72, 72, 0.8),
    titleGrey: rgba(56, 56, 56, 0.8),
    borderButton: #979797,
    secondaryDark: #09495D,
    pinkLight: #FC404D,
    black: #000000,

    fd-grey: rgb(72,72,72),
    fd-grey80 : rgba(72,72,72, 0.8),
    fd-grey70 : rgba(72,72,72, 0.7),
    fd-grey60 : rgba(72,72,72, 0.6),
    fd-grey50 : rgba(72,72,72, 0.5),
    fd-grey40 : rgba(72,72,72, 0.4),
    fd-grey30 : rgba(72,72,72, 0.3),
    fd-grey20 : rgba(72,72,72, 0.2),
    fd-grey10 : rgba(72,72,72, 0.1),
    fd-grey05 : rgba(72,72,72, 0.05),
);

$boxShadow: (
  default: 0 5px 10px 0 rgba(color($sharedColors, dark), .1),
  primary: 0 2px 5px 0 rgba(color($sharedColors, primary), .5),
  light: 0 2.5px 5px 0 color($sharedColors, fd-grey05),
  full: 0 0 10px 0 rgba(color($sharedColors, dark), .1)
);

$background-color: color($sharedColors, clean);
//$tabs-background: color($sharedColors, 'darkLight');
$tabs-tab-color-active: color($sharedColors, primary);

$list-inset-md-margin-top: 6px;
$list-inset-md-margin-right: $list-inset-md-margin-top;
$list-inset-md-margin-bottom: $list-inset-md-margin-top;
$list-inset-md-margin-left: $list-inset-md-margin-top;
$list-inset-ios-margin-top: $list-inset-md-margin-top;
$list-inset-ios-margin-right: $list-inset-md-margin-top;
$list-inset-ios-margin-bottom: $list-inset-md-margin-top;
$list-inset-ios-margin-left: $list-inset-md-margin-top;

// Fonts
// --------------------------------------------------

$font-family-base: "Avenir", "Helvetica Neue", "Roboto", sans-serif;
$font-family-ios-base: $font-family-base;
$font-family-md-base: $font-family-base;
$font-family-wp-base: $font-family-base;
