<div class="fd__avatar" (click)="avatarClicked()" *ngIf="image || icon || initial" [ngClass]="{ 'avatar--with-initial': !image && !icon && initial }">
    <div class="avatar__photo" [style.background-image]="sanitizeImage(image)" *ngIf="image"></div>
    <div class="avatar__icon" *ngIf="!image && icon">
      <ion-icon [name]="icon"></ion-icon>
    </div>
    <div class="avatar__initial" *ngIf="!image && !icon && initial">
      <span class="initial">{{ initial | slice:0:1 }}</span>
    </div>
  </div>