<button ion-button full 
*ngIf="label" 
class="fd__form fd__button" 
[ngClass]="{ 'fd__button--primary': style && style === 'primary' || !style, 'fd__button--secondary': style && style === 'secondary', 'fd__button--default': style && style === 'default', 'button--rouded-primary': style && style === 'rounded-primary', 'button--rounded-default': style && style === 'rounded-default', 'button--rounded-secondary': style && style === 'rounded-secondary' }" 
[type]="type ? type : 'button'" 
[disabled]="disabled ? disabled : null"
(click)="fdButtonClick()">
    <ion-icon *ngIf="icon" [name]="icon"></ion-icon><span class="button__label">{{ label }}</span>
</button>