fd-button {
    .fd__button{
        border-radius: 6px;
        font-size: map-get($fontSizes, sm);
        font-weight: 600;
        height: 40px;
        margin-bottom: 16px;
        padding: 0;
        transition: background-color .2s;

        &.fd__button--primary{
            background-color: color($colors, primary);
            color: color($colors, clean);

            &:hover{
                background-color: darken(color($colors, primary), 5%);
            }
        }
        
        &.fd__button--secondary{
            background-color: color($colors, secondary);
            color: color($colors, clean);

            &:hover{
                background-color: darken(color($colors, secondary), 5%);
            }
        }
        
        &.fd__button--default{
            background-color: color($colors, clean);
            border: 1px solid color($colors, fd-grey40);
            color: color($colors, text);

            &:hover{
                background-color: darken(color($colors, clean), 5%);
            }
        }

        &.button--rounded-secondary{
            background-color: color($colors, clean);
            border: 1px solid color($colors, secondary);
            border-radius: 24px;
            color: color($colors, secondary);

            &:hover{
                background-color: darken(color($colors, clean), 5%);
            }
        }

        &.button--rounded-primary{
            background-color: color($colors, primary);
            border-radius: 24px;
            color: color($colors, clean);
        }

        &.button--rounded-default{
            background-color: color($colors, clean);
            border: 1px solid color($colors, text);
            border-radius: 24px;
            color: color($colors, text);
        }

        &.button-md,
        &.button-md.activated{
            box-shadow: none;
            text-transform: none;
        }

        ion-icon{
            margin-right: 8px;
        }

        &.button--with-provider{
            .button__provider,
            .button__label{
                box-sizing: border-box;
            }

            .button__provider{
                padding-bottom: 8px;
                padding-top: 8px;
                width: 20%;
                
                svg{
                    max-height: 24px;
                    padding-top: 2px;
                }
            }
            
            .button__label{
                padding-left: 16px;
                padding-right: 16px;
                width: 80%;
            }
            
            &.fd__button--default{
                .button__provider{
                    border-right: 1px solid color($colors, fd-grey40);
                }
            }
            
            &.fd__button--primary{
                .button__provider{
                    background-color: lighten(color($colors, primary), 16%);
                    
                    svg{
                        path{
                            fill: color($colors, clean);
                        }
                    }
                }
            }
            
            &.fd__button--secondary{
                .button__provider{
                    background-color: lighten(color($colors, secondary), 16%);

                    svg{
                        path{
                            fill: color($colors, clean);
                        }
                    }
                }
            }
        }

        &.button--chip,
        &.button--chip-active{
            border: 1px solid;
            color: color($colors, text);
            height: auto;
            margin: 8px;           
            padding-bottom: 8px;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 8px;
        }

        &.button--chip{
            @include app-alpha-attribute("border-color", color($colors, fd-grey05), color($colors, clean));
            @include app-alpha-attribute("background-color", color($colors, fd-grey05), color($colors, clean));
        }

        &.button--chip-active,
        &.button--chip-active:hover{
            background-color: color($colors, clean);
            border-color: color($colors, primary);
        }

        &.button--clear{
            color: color($colors, primary);
            font-size: map-get($fontSizes, xs);
            font-weight: 300;
            max-height: 24px;
            margin: 0;
            padding: 0;
        }
    }
}