fd-button {
    .fd__button{
        border-radius: 6px;
        font-size: map-get($fontSizes, sm);
        font-weight: 600;
        height: 40px;
        margin-bottom: 16px;
        padding: 0;
        transition: background-color .2s;

        &.fd__button--primary{
            background-color: color($colors, primary);
            color: color($colors, clean);

            &:hover{
                background-color: darken(color($colors, primary), 5%);
            }
        }
        
        &.fd__button--secondary{
            background-color: color($colors, secondary);
            color: color($colors, clean);

            &:hover{
                background-color: darken(color($colors, secondary), 5%);
            }
        }
        
        &.fd__button--default{
            background-color: color($colors, clean);
            border: 1px solid color($colors, text);
            color: color($colors, text);

            &:hover{
                background-color: darken(color($colors, clean), 5%);
            }
        }

        &.button-md,
        &.button-md.activated{
            box-shadow: none;
            text-transform: none;
        }

        ion-icon{
            margin-right: 8px;
        }
    }
}
