<div class="fd__chat" #chat>
  <ion-scroll #content scrollY="true">
    <div class="chat__header">
      <ng-content select="[chat-header]"></ng-content>
    </div>
    <div class="chat__container">
      <div class="chat__day" *ngFor="let day of messageList">
        <div class="chat__hour" *ngFor="let group of day.groups">
          <span class="day__title">{{ group.hour | date: 'EEEE dd MMM HH:mm' }}</span>
          <div class="chat__message" #messageBubbles *ngFor="let bubble of group.messages" [ngClass]="{ 'message--sender': isSender(bubble), 'message--recipient': !isSender(bubble) }">
            <fd-chat-bubble [id]="bubble.id" [message]="bubble.text" [sender]="isSender(bubble)" [user-name]="bubble.payload && bubble.payload.senderFirstName ? bubble.payload.senderFirstName : null" [user-picture]="bubble.senderPicture ? bubble.senderPicture : null" [image]="bubble.attachments && bubble.attachments.length > 0 ? bubble.attachments[0] : null" (onImageClick)="bubbleImageClick($event)"></fd-chat-bubble>
          </div>
        </div>
      </div>
    </div>
    <div class="chat__footer">
      <ng-content select="[chat-footer]"></ng-content>
    </div>
  </ion-scroll>
  <fd-chat-input [placeholder]="inputPlaceholder" [options]="inputOptions" [button-label]="sendButton" (onSend)="addMessage($event)" (onButtonClick)="inputButtonClick($event)" [hidden]="!input"></fd-chat-input>
</div>